* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

  }
body{
    min-height: 100vh;
}

.topnav{
    background-color: #000000;
    overflow: hidden;

}
.nav{
    width: 100%;
    background-color: #000000;
    height: auto;
    overflow: hidden;

}

.topnav a{
    color: #0000ff;
    text-align: center;
    padding: 20px 16px;
    text-decoration: none;
    font-size: 20px;
display: inline-block;

}

.float-left, .logo{
    float: left;
}  

.float-right{
    float: right;
}

.logo{
    height: 90px;
    width: 90px;
    
    
}

.margin{
    margin-top: 60px;
}

.topnav a:hover {
    background-color: #00ffff;
    color: black;
}

.clear-fix{
clear: both;
}

footer{
    height: auto;
    width: 100%;
    background-color: black;
    text-align: center;
    bottom: 0;
    margin-top: auto;
}

.fa-brands{
    padding: 10px;

}

/* Hero image CSS  */

Body, html {
    height: 100%;
    
}

.hero {
    margin: 60px; 
    background-image: url('..//img/Anime/Hero\ IMG.jpg');
    height: 100%;
    background-position: center;
    background-size: contain;
    position: relative;
    background-repeat: no-repeat;
}
.hero-text{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-weight: bold;
    font-size: 36px;
}
.hero-text2 {
  text-align: center;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 25px;
}

/* Contact page */
  
  input[type=text], select, textarea {
    width: 100%;
    padding: 20px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type=submit] {
    background-color: blue;
    color: aqua;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: green;
  }
  
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 10px;
  }

/* About Page */

  .column {
    float: left;
    width: 100%;
    margin-bottom: 16px;
    padding: 0 8px;
  }
  
  .card {
    box-shadow: 0 4px 8px 0 blue;
    margin: 8px;
  }
  
  .about-section {
    padding: 50px;
    text-align: center;
    background-color: #474e5d;
    color: white;
  }
  
  .container-about {
    padding: 0 16px;
  }
  
  .title {
    color: grey;
  }
  
  .button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
  }
  
  .button:hover {
    background-color: #555;
  }

  .margin-auto {
    margin: auto;
    width: 80%;
  }